
html, body, header, nav, a, img, ul, 
li{  /*초기화*/
    font-family: 'Noto Sans KR', sans-serif;
    margin: 0;
	padding: 0;
	border: 0;
	/* font: inherit; */
	/* vertical-align: baseline; */
}

#menu li {
    float: right;
    position: relative;
    margin: 15px 15px;
    padding: 0;
    list-style: none;
    margin-left: 25px;
}
#logo {
    height: 90px;
    width: 80px;
    float: left;
    margin-top: 40px;
    margin-left: 80px;
}
.m2 {
    display: none;
}

#menu li a{
    display: block;
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: bold;
    font-size: 15px;
    margin: 0;
    color: black;
    text-decoration: none;
    margin-top: 90px;
    margin-bottom: 0px;
}
#sign { /*sign in, sign out */
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: bold;
    font-size: 12px;
    color: black;
    text-decoration: none;
    float: right;
    margin-right: 50px;
    margin-top: 10px;
    display: inline;
    
}
#signimg {
    float: right;
}
#menu ul li a {
    display: none;
}

hr {
    background-color: #e15c2d;
    height: 5px;
    border: none;
    width: 100%;
    margin: 0px;
    float: right;
}
#menu li:hover > a {
    color: silver;
}


#ex1 article h1 {
    display: inline-block;
    text-align: center;
    
}
#name {
    font-family:'Noto Sans KR', sans-serif;
    font-weight: bold;
    font-size: 20px;
    text-decoration: none;
    margin-top: 100px;   
}
#name span {
    color: black;
}
/* hover 시 화면 커짐 */
#search{
    transform: scale(1);
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transition: all 0.3s ease-in-out;   /* 부드러운 모션을 위해 추가*/
}
#search:hover {
    transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
}
#coffee{
    transform: scale(1);
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transition: all 0.3s ease-in-out;
}
#coffee:hover {
    transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
}

.banner{
    transform: scale(1);
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transition: all 0.3s ease-in-out;
}
.banner:hover {
    transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
}
/* hover 시 화면 커짐 end */
.Store{
    background-color: #A88665;
    margin-bottom: 50px;
    height: 417px;

}
#coffee {
    display: inline;
    float: right;
    width: 30%;
    height: 100%;
    margin-top: 0;
    margin-right: 0;

}
#search {
    display: inline-block;
    /* float: left; */
    width: 25%;
    margin-top: 20px;
    /* margin-bottom: 75px; */
    margin-left: 120px;
    /* margin-right: 120px; */
    background-color: #CFB7A3;
    
}
#ex2 {
    display:inline-block;
    margin-left: 16%;
    color: rgb(39, 39, 39);
    margin-top: 30px;
    width: 19%;
    background-color:#A88665 ;
}
video{
    display: inline;
    width: 70%;
    height: 0%;
    display:inline-block;
    /* float: right; */
    background-color:#A88665 ;
    /* background-color: #CFB7A3; */
}

  #ex3 {
    width: 35px;
    height: 44px;
    margin-top: 20px;
    margin-bottom: 20px;
    display: inline-block;

  }

  #introduce {
    background-color: white;
    margin-left: 50px;
  }
  #c1 {
    position: relative;
    display: inline-block;
    /* margin-left: 50px; */
    width: 5%;
    height: 5%;
    margin-bottom: 30px;
  }
  #c2 {
    position: relative;
    display: inline-block;
    width: 5%;
    height: 5%;
  }
  #c3 {
    position: relative;
    display: inline-block;
    width: 5%;
    height: 5%;
  }
  #ex4 {
    position: relative;
    display: inline-block;
    
  }
  #ex3 img {
    width: 35px;
    height: 47px;
    margin-top: 10px;
  }
  #wrapper{
    height : 100%;
  }
  footer{
    position : relative;
    transform : translateY(-100%);
    text-align: center;
    margin-top: 0;
    background-color: silver;
    font-family: 'Noto Sans KR', sans-serif;
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
    font-size: 12px;
  }

