
html, body, header, nav, a, img, ul, 
li{  /*초기화*/
    font-family: 'Noto Sans KR', sans-serif;
    margin: 0;
	padding: 0;
	border: 0;
	/* font: inherit; */
	/* vertical-align: baseline; */
}

#menu li {
    float: right;
    position: relative;
    margin: 15px 15px;
    padding: 0;
    list-style: none;
    margin-left: 25px;
}
#logo {
    height: 90px;
    width: 80px;
    float: left;
    margin-top: 40px;
    margin-left: 80px;
}
.m2 {
    display: none;
}

#menu li a{
    display: block;
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: bold;
    font-size: 15px;
    margin: 0;
    color: black;
    text-decoration: none;
    margin-top: 90px;
    margin-bottom: 0px;
}
#sign { /*sign in, sign out */
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: bold;
    font-size: 12px;
    color: black;
    text-decoration: none;
    float: right;
    margin-right: 50px;
    margin-top: 10px;
    display: inline;
    
}
#signimg {
    float: right;
}
#menu ul li a {
    display: none;
}

hr {
    background-color: #e15c2d;
    height: 5px;
    border: none;
    width: 100%;
    margin: 0px;
    float: right;
}
#menu li:hover > a {
    color: silver;
}


#ex1 article h1 {
    display: inline-block;
    text-align: center;
    
}
#name {
    font-family:'Noto Sans KR', sans-serif;
    font-weight: bold;
    font-size: 20px;
    text-decoration: none;
    margin-top: 100px;   
}
/* hover 시 화면 커짐 */
#search{
    transform: scale(1);
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transition: all 0.3s ease-in-out;   /* 부드러운 모션을 위해 추가*/
}
#search:hover {
    transform: scale(1.2);
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -ms-transform: scale(1.2);
    -o-transform: scale(1.2);
}
#coffee{
    transform: scale(1);
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transition: all 0.3s ease-in-out;
}
#coffee:hover {
    transform: scale(1.2);
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -ms-transform: scale(1.2);
    -o-transform: scale(1.2);
}

.banner{
    transform: scale(1);
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transition: all 0.3s ease-in-out;
}
.banner:hover {
    transform: scale(1.2);
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -ms-transform: scale(1.2);
    -o-transform: scale(1.2);
}
/* hover 시 화면 커짐 end */
.Store{
    background-color: #A88665;
    margin-bottom: 50px;
    height: 417px;

}
#coffee {
    display: in;
    float: right;
    width: 27%;
    margin-top: 0;
    margin-right: 0;
}
#search {
    display: in;
    float: left;
    width: 25%;
    margin-top: 75px;
    margin-bottom: 75px;
    margin-left: 120px;
    margin-right: 120px;
    background-color: #CFB7A3;
    
}
#ex2 {
    float: left;
    margin-left: 300px;
    color: rgb(39, 39, 39);
    margin-top: 50px;
    width: 16%;
    background-color:#A88665 ;
}
video{
    width: 100%;
    height: 500px;
    background-color: #CFB7A3;
    display:block;
    float: right;
    margin: 0;
    padding: 0;
}

