html, body, header, nav, a, img, ul, 
li{  /*초기화*/
    font-family: 'Noto Sans KR', sans-serif;
    margin: 0;
	padding: 0;
	border: 0;
	/* font: inherit; */
	/* vertical-align: baseline; */
}

#menu li {
    float: right;
    position: relative;
    margin: 15px 12px;
    padding: 0;
    list-style: none;
    margin-left: 25px;
}
#logo {
    height: 90px;
    width: 80px;
    float: left;
    margin-top: 40px;
    margin-left: 80px;
}
.m2 {
    display: none;
}

#menu li a{
    display: inline-block;
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: bold;
    font-size: 15px;
    margin: 0;
    color: black;
    text-decoration: none;
}
#sign { /*sign in, sign out */
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: bold;
    font-size: 12px;
    color: black;
    text-decoration: none;
    float: right;
    margin-right: 50px;
    margin-top: 10px;
    display: inline;
    
}
#signimg {
    float: right;
}
#menu ul li a {
    display: none;
}

hr {
    background-color: #e15c2d;
    height: 5px;
    border: none;
    width: 100%;
    margin: 0px;
    float: right;
}
/* 메뉴 hover시 글씨 색 변화 */
#menu li:hover > a { 
    color: silver;
}


#ex1 article h1 {
    display: inline-block;
    text-align: center;
    
}
#name {
    font-family:'Noto Sans KR', sans-serif;
    font-weight: bold;
    font-size: 20px;
    text-decoration: none;
    margin-top: 100px;   
}
#name2{
    font-family:'Noto Sans KR', sans-serif;
    position: relative;
    display: inline-block;
    color: black;
    margin-top: 70px;
    margin-left: 10px;
}

/*  footer 부분 */
  #logo2 { /*footer 로고*/
    width: 35px;
    height: 44px;
    margin-top: 20px;
    margin-bottom: 20px;
    display: inline-block;

  }
  #logo2 img { 
    width: 35px;
    height: 47px;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  #wrapper{ /* footer화면 내림*/
    height : 200%;
    display: block;
  }
  #ft li{
  margin-bottom: 5px;
  }
  footer {
    position : relative;
    transform : translateY(-100%);
    text-align: center;
    margin-top: 0;
    background-color: silver;
    font-family: 'Noto Sans KR', sans-serif;
    display: block;
    font-weight: bold;
    font-size: 12px;
    list-style: none;
  }