* {
  margin: 0;
  padding: 0;
  box-sizing: 0;
}
#menuMainWrap {
  width: 80%;
  height: 80%;
  margin: 6em auto;
}
#DetailsWrap {
  display: inline-flex;
  margin: 0 auto;
}
#drinkImg {
  display: inline-block;
  width: 30em;
}
#drinkImg:hover {
  display: inline-block;
  width: 30em;
  transform: scale(1.2);
}
#subtype {
  font-size: 5em;
  color: #e15c2d;
}
#InfoWrap {
  display: inline-block;
  width: 30em;
  position: absolute;
  top: 30%;
  margin: 3em;
}
#Kname {
  height: 3em;
  font-size: 2.5em;
}
#engName {
  height: 2.5em;
}
#detailDes {
  height: 2.5em;
}
#allergy {
  height: 2.5em;
}
table {
  width: 100%;
  text-align: center;
}
/* .displayNone {
  display: none;
} */
