* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  position: relative;
  font-family: "Noto Sans KR", sans-serif;
}
#menuMainWrap {
  /* width: 100vw; */
  height: 100vh;
  margin: 0 10%;
}
#categoryWrap {
  width: 90%;
  margin: 3em;
  padding: 2em;
  display: flex;
  flex-direction: column;
  border: 0.2em solid #a88665;
}
h2 {
  color: #a88665;
}
hr {
  margin: 0.5em 0;
  width: 100%;
  background-color: #a88665;
  height: 0.2em;
}
#drinksWrap {
  margin: 2em 0;
  width: 42em;
  display: flex;
  justify-content: space-between;
}
